build/*
!build/.gitkeep

# Added by gemignore. Snippet 'CMake'
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


# Added by gemignore. Snippet 'C++'
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
